# Rust / Cargo
/target/
**/*.rs.bk

# Node
/node_modules/
/dist/
package-lock.json

# Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/gen/

# macOS
.DS_Store
*.dmg

# Windows
*.msi
*.exe

# Build artifacts
*.app
*.deb
*.AppImage
*.tar.gz
